@import '../colors.scss';

.Game {
  &.lose .ConditionMessage {
    color: #CC0000;
  }
  &.win .ConditionMessage {
    color: #2CA58D;
  }
}

.GameBoard {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid $color--border;

  .BoardRow {
    display: flex;
  }
}