.MinesweeperCell {
  width: 20px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #888888; /* I know, I know, doubles on the inside. */
}

.MinesweeperCell {
  background: #CCCCCC;
}

.MinesweeperCell:not(.visible) {
  cursor: pointer;
}

.MinesweeperCell:not(.visible):hover {
  background: #DDDDDD;
}

.MinesweeperCell:not(.visible):active {
  background: #AAAAAA;
}

.MinesweeperCell:not(.visible) .CellValue {
  display: none;
}

.MinesweeperCell.visible {
  background: white;
}