@import './colors.scss';

.App {
  height: 100vh;

  .App-header {
    padding: 10px 20px;
    background-color: $color--brand-text-pair-dark;
    color: $color--brand-text-pair-light;

    h2 {
      margin: auto;
    }
  }
}